#topbar {
  position: fixed;
  z-index: 1100;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.1411764706),
    0 1px 10px 0 rgba(0, 0, 0, 0.1215686275);

  .topbar-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;

    .skhillz-logo {
      width: 72px;
      object-fit: cover;
    }
  }
}

#sidebar {
  position: fixed;
  z-index: 1200;
  width: 256px;
  height: 100%;
  margin-left: -256px;
  background-color: var(--purple800);
  transition: all 0.2s ease-in-out;

  &.active {
    margin-left: 0;
  }

  .sidebar-holder {
    padding-top: 32px;

    .sidebar-label {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8rem;
    }

    .MuiList-root {
      .MuiMenuItem-root {
        padding: 0;
        transition: all 0.2s ease-in-out;
        border-radius: 8px;

        &:hover {
          padding-left: 8px;
          background-color: rgba(255, 255, 255, 0.1);
        }

        a {
          display: flex;
          width: 100%;
          padding-top: 8px;
          padding-bottom: 8px;
          color: white;
          text-decoration: none;
          line-height: 1.6;
        }

        .MuiSvgIcon-root {
          margin-right: 8px;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #topbar {
    width: calc(100% - 256px);
    margin-left: 256px;

    .topbar-holder {
      .btn-menu {
        display: none;
      }
    }
  }

  #sidebar {
    margin-left: 0;
  }
}
