#sidebar {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: calc(var(--aside) * -1);
  width: var(--aside);
  height: 100%;
  background-color: var(--indigo900);
  transition: all 0.2s ease-in-out;

  &.active {
    left: 0;
  }

  .sidebar-holder {
    height: 100%;
    padding: 32px;

    .sidebar-label {
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
    }

    .MuiList-root {
      .MuiMenuItem-root {
        padding: 0;
        border-radius: 8px;
        transition: all 0.2s ease-in-out;

        &:hover {
          padding-left: 8px;
          background-color: rgba(255, 255, 255, 0.1);
        }

        a {
          display: flex;
          width: 100%;
          padding-top: 8px;
          padding-bottom: 8px;
          color: white;
          text-decoration: none;
          line-height: 1.6;
        }

        .MuiSvgIcon-root {
          margin-right: 8px;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #sidebar {
    left: 0;
  }
}
